.pc-particular-title {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  display: flex;
  height: 24px;
  justify-content: center;
  align-items: center;
  color: rgba(151,189,219,1);
  h4 {
    font-weight: normal;
    margin-left: 58px;
  }
  .change-page {
    position: absolute;
    right: -60px;
  }
  .change-page-prev,
  .change-page-next {
    display: inline-block;
    width: 28px;
    height: 28px;
  }
  .change-page-prev {
    margin-right: 4px;
    background: url('../../lib/app/img/home_project_left.png')no-repeat center center;
  }
  .change-page-next {
    background: url('../../lib/app/img/home_project_right.png')no-repeat center center;
  }
}
