.detail-box {
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}
.detail {
  background: #1b96d1;
  box-sizing: border-box;
  padding: 30px 80px;
  color: #fff;
  .detail-title {
    font-size: 20px;
  }
  .detail-time {
    font-size: 14px;
    margin: 20px 0;
  }
}
