.pc-home-content-list-item {
  // margin: 24px;
  // position: absolute;
  background: #f00;
  //display: inline-block;
  margin-right: 24px;
  margin-bottom: 24px;
  float: left;
  transform-style: preserve-3d;
  transition: transform linear 1s;
  .list-item-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ff0;
    transform: translateZ(-1px);
  }
}