.project-analy {
  margin-top: 36px;
  table {
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    border-spacing: 0;
    width: 660px;
    height: 173px;
    color: #333333;
    background: #fff;
  }

  td,
  th {
    height: 38px;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-spacing: 0;
  }
  .analy-remind {
    margin-top: 14px;
  }
}
.project-analy-title {
  margin-bottom: 24px;
  text-align: left;
}
