.ico-publish {
  margin-top: 36px;
}
.ico-publish-title {
  margin-bottom: 20px;
  text-align: left;
}
.ico-publish-table {
  width: 660px;
  height: 102px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ico-publish-item {
  flex: 1;
  p {
    text-align: center !important;
  }
}
