.pc-home-header-search-box {
  width: 618px;
  height: 56px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 8px;
  box-shadow: 1px 0px 3px rgba(0,0,0,0.4);
  .search-icon {
    width: 56px;
    height: 56px;
    border-radius: 8px 0px 0px 8px;
    vertical-align: bottom;
    background-color: rgba(27,37,47,1); 
  }
  .search-text {
    width: 560px;
    height: 56px;
    font-size: 20px;
    text-indent: 1em;
    color: #fff;
    border-radius: 8px 0px 0px 8px;
    background: rgba(22,31,38,1)
  }
}