.pc-home-header-top-time-new {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 28px;
  .new-content-box {
    height: 28px;
    height: 28px;
    overflow: hidden;
    transition: all linear 1s;
  }
  .new-pic {
    display: inline-block;
    margin-right: 12px;
    vertical-align: sub;
  }
  .new-content{
    height: 60px;
  }
  .new-content-copy {
     height: 30px;
  }
  .new-content-text {
    height: 28px;
    line-height: 28px;
  }
}