.pc-home-header-top-person-detail {
  position: absolute;
  left: 0;
  .detail-icon {
    display: inline-block;
    width: 28px;
    height: 24px;
    line-height: 28px;
    text-align: center;
  
  }
  .split-line {
    display: inline-block;
    width:1px;
    height: 28px;
    line-height: 28px;
    margin: 0 9px;
    background: rgba(48,64,81,1);
  }
}